Django>=5.2

Pillow

django-crispy-forms

crispy-bootstrap5

django-filter

django-widget-tweaks

python-dotenv

qrcode

reportlab

whitenoise

gunicorn

django-environ

requests

geopy

django-extensions

channels

channels-redis

daphne

celery

redis

openpyxl

pandas

phonenumbers

django-phonenumber-field

psycopg2-binary